.mdl-button, input, .mdl-textfield__input {
  font-family: 'Anonymous Pro', 'Helvetica', 'Arial', sans-serif;
}
.mdl-card.active {
  background: $brand-primary;
  color: #fff;
}
.md-content.md-table-content {
  min-height: 600px;
}