.mdl-button, input, .mdl-textfield__input {
  font-family: 'Anonymous Pro', 'Helvetica', 'Arial', sans-serif;
}
.mdl-card.active {
  background: $brand-primary;
  color: #fff;
}
.md-table {
  display: block;
}
.md-app-content .md-card {
  margin-right: 20px!important;
  margin-left: 20px!important;
}

.md-menu-content.md-select-menu {
  z-index: 100;
}

.hidden {
  display: none;
}